*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/

backup/
# *.tar.gz
# *.tar
*.pem
*.key
*.terraform
*.terraform*
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
.envinputs
.envservers
*.pub
# inventory
*.DS_Store
save_*
*.pyc

venv/
*_IPYNB_2_.md
registry/processing/package-lock.json
registry/site/yarn.lock
_posts/Kasm/User_Guide/2024-11-17-user-kasm_IPYNB_2_.md
